# Server
PORT=5000
NODE_ENV=development

# Database (Local MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Bf32912112@
DB_NAME=onesta_db
DB_SSL=false

# JWT
JWT_SECRET=MY_SECRET_CODE_BF32912112
JWT_EXPIRE=7d

# Frontend URL (your deployed Vercel frontend URL)
FRONTEND_URL=https://kronik.vercel.app

# Cloudinary (file uploads)
CLOUDINARY_CLOUD_NAME=drw7gbepe
CLOUDINARY_API_KEY=276787471334945
CLOUDINARY_API_SECRET=C8hkUXm5-CoXUk2PRFzizHrBsUk

# Office Geofencing
OFFICE_LATITUDE=28.6139
OFFICE_LONGITUDE=77.2090
GEOFENCE_RADIUS=100

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=bilalkhanniazi765@gmail.com
EMAIL_PASS=rdqy oleb rays dcsb
EMAIL_SECURE=false
